<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZQeL_hAGWrSuhI7eW5tA9ufBbfiON4Nk</string>
	<key>GCM_SENDER_ID</key>
	<string>245876224329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rpmDemo</string>
	<key>PROJECT_ID</key>
	<string>rpmdemo-9e92a</string>
	<key>STORAGE_BUCKET</key>
	<string>rpmdemo-9e92a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245876224329:ios:43f36e9fcb36ff9aa0ea98</string>
</dict>
</plist>